{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="max-w-7xl mx-auto my-12">
    <div class="grid grid-cols-1 sm:grid-cols-2 p-4 sm:p-12 ">
        <div class="col-span-1 p-2 rounded sm:p-16 bg-light_grey border-2 border-gray-300 sm:mr-2">
            <div class="flex justify-center slideInLeft">
                <img src="{% static 'img/blazer.jpg' %}" alt="manager" class="h-60 w-60 rounded-lg border-2 border-gray-300 shadow-xl">
            </div>
            <h1 class=" text-3xl font-semibold mb-6 text-center my-6 text-gray-500"> Graeme Acraman</h1>
            <p class="text-2xl font-medium text-center text-gray-400">Manager</p>
        </div>
        <div class="col-span-1 p-2 sm:p-16  bg-light_grey border-2 border-gray-300 mt-6 sm:mt-0  sm:ml-2">
            <div class="flex justify-center slideInRight">
                <img src="{% static 'img/vikki.jpg' %}" alt="Coordinator" class="h-60 w-60 rounded-lg border-2 border-gray-300 shadow-xl">
                
            </div>
            <h1 class=" text-3xl text-center font-semibold my-6 text-gray-500"> Vikki</h1>
            <p class="text-2xl text-center font-medium text-gray-400">Coordinator </p>
        </div>
    </div>
</div>


{% endblock %}