{% extends "base.html" %}
{% load static %}
{% block title %}Log-in{% endblock %}
{% block content %}
<div class="flex flex-col max-w-md mx-auto p-6 rounded-md sm:p-10 bg-light_grey dark:bg-gray-900 dark:text-gray-100 my-12">
	<div class="mb-8 text-center">
		<h1 class="my-3 text-4xl font-bold">Log in</h1>
		<p class="text-sm dark:text-gray-400">Log in to access your account</p>
	</div>
	<form novalidate="" action="{% url 'accounts:login_view' %}" method="POST" autocomplete="off" class="space-y-12">{% csrf_token %}
		<!-- <div class="space-y-4">
			<div>
				<label for="email" class="block mb-2 text-sm">Email address</label>
				<input type="email" name="email" id="email" placeholder="leroy@jenkins.com" class="w-full px-3 py-2 border rounded-md dark:border-gray-700 dark:bg-gray-900 dark:text-gray-100">
			</div>
			<div>
				<div class="flex justify-between mb-2">
					<label for="password" class="text-sm">Password</label>
					<a rel="noopener noreferrer" href="#" class="text-xs hover:underline dark:text-gray-400">Forgot password?</a>
				</div>
				<input type="password" name="password" id="password" placeholder="*****" class="w-full px-3 py-2 border rounded-md dark:border-gray-700 dark:bg-gray-900 dark:text-gray-100">
			</div>
		</div> -->
		{{ form.as_div }}
    <div class="flex justify-center">
			<div>
				<button type="submit" class="flex items-center rounded-lg border bg-red-800 hover:bg-red-900 hover:shadow-2xl hover:rounded-none px-5 py-1 text-white text-2xl cursor-pointer">Log in</button>
			</div>
      </div>
	</form>
</div>
<script>
	document.addEventListener('DOMContentLoaded',()=>{
		const username = document.querySelector('#id_username')
		const label = document.querySelector('label[for=id_username]')
		label.textContent = 'Email'
		const password = document.querySelector('#id_password')
		
		username.classList.add('w-full', 'px-3', 'py-2', 'border', 'rounded-md', 'dark:border-gray-700', 'dark:bg-gray-900', 'dark:text-gray-100')
		password.classList.add('w-full', 'px-3', 'py-2', 'border', 'rounded-md', 'dark:border-gray-700', 'dark:bg-gray-900', 'dark:text-gray-100')

	})
</script>
{% endblock %}