<!doctype html>
{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="Billingshurst Community Transport, community transport, disabled transport, frail transport, elderly transport, volunteer drivers, wheelchair accessible vehicle, public transport, Billingshurst">
        <meta name="description" content="Billingshurst Community Transport provides a scheme for frail and disabled residents of [village] and surrounding areas who are unable to use public transport. Volunteer drivers use their own cars or wheelchair-accessible vehicles to provide transportation for elderly, frail, and infirm individuals who cannot use public transportation. Companions can accompany passengers at no extra charge, and pickups are available from homes or any other location within the service area.">

        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/tailwind.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <link rel="icon"  type="image/png" href="{% static 'img/logotitle.png' %}">
        <title> {% block title %}title | BCT{% endblock %}</title>
    </head>
   
    <body class="min-h-screen text-gray-700">
        <div class="max-w-sm mx-auto relative ">
            {% if messages %}
            <button type="button" class="close" aria-label="Close"></button>
            <ul class="messages absolute left-4 right-4  top-4">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }} rounded-lg p-4 text-center"{% endif %}>
                   
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                    {{ message }} 
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% include 'navbar.html' %}
       
        {% block content %}
        {% endblock %}
       {% include 'js.html' %}
       {% include 'footer.html' %}
    </body>
</html>