{% load static %}

<div class="bg-bct_red text-white p-2 lg:p-12  ">
	<h4 class="text-center text-2xl font-bold mt-2 mb-8">Billingshurst Community Transport is supported by</h4>
	<div class="flex justify-evenly p-6">
			<div class="w-24 h-24 "><img src="{% static 'img/wscc.svg' %}" alt="wscc"></div>
			<div class="w-32 h-24 "><img src="{% static 'img/pi.jpg' %}" alt="Ilford"></div>
			<div class="w-36 h-24 "><img src="{% static 'img/bpc.jpg' %}" alt="bpc"></div>
			<div class="w-32 h-24 "><img src="{% static 'img/lp.png' %}" alt="lp"></div>
			<div class="w-24 h-24 "><img src="{% static 'img/hdc.png' %}" alt="hdc"></div>
			<div class="w-24 h-24 "><img src="{% static 'img/lion.jpeg' %}" alt="lion"></div>
			<div class="w-24 h-24 "><img src="{% static 'img/ship.png' %}" alt="shipley"></div>

	</div>
	<p class="text-center text-lg my-2">Also Participating Parish Councils</p>
 </div>
     <!-- footer -->    
	 <div id="foot" class="bg-gray-800 text-white p-2 sm:p-12 text-lg">
		<div class="grid grid-cols-1 sm:grid-cols-3" >
		   <div class="col-span-1">
			  <div class="p-4">
				 <h5 class="text-2xl">Useful links</h5>
				 <p class="mt-4">
					<a href="http://www.billingshurst.gov.uk/" class="text-light">Billingshurst Parish Council</a><br>
					<a href='https://www.shipleyparishcouncil.org.uk/community/shipley-parish-council-20030/home' class="text-light">Shipley Parish Council</a><br>
					<a href="https://e-clubhouse.org/sites/billingshurst/" class="text-light">Billingshurst Lions</a><br>
					<a href="https://www.loxwood-pc.gov.uk/" class="text-light">Loxwood Parish Council</a><br>
					<a href="https://www.plaistowandifold.org.uk/" class="text-light">Plaistow and Ifold parish council</a><br>
					<a href="https://www.horsham.gov.uk/community/community-transport" class="text-light">Horsham Transport Help</a><br>
					<a href="https://www.westsussex.gov.uk/roads-and-travel/travel-and-public-transport/community-transport/" class="text-light">West Sussex Transport Help</a><br>
					<a href="https://ctauk.org/" class="text-light">Community Transport Association</a><br>
				 </p>
			  </div>
		   </div>
		   <div class="col-span-1">
			  <div class="p-4">
				 <h5 class=" text-2xl">About</h5>
				 <p class="mt-4">TO PROVIDE A COMMUNITY TRANSPORT SERVICE FOR  THE INHABITANTS OF BILLINGSHURST AND ITS NEIGHBOURHOOD WHO ARE IN NEED OF SUCH A SERVICE BECAUSE of SICKNESS OR DISABILITY (MENTAL OR PHYSICAL), OR  LACK OF FINANCIAL RESOURCES, OR BECAUSE OF A LACK OF AVAILABILITY OF ADEQUATE AND SAFE PUBLIC PASSENGER SERVICES.</p>
			  </div>
		   </div>
		   <div class="col-span-1">
			  <div class="p-4">
				 <h5 class="text-2xl">Information</h5>
				 <p class=" text-lg ">
				 <p class="my-4">Registered Charity Number. 11010884</p>
				 <p class="my-4">Registered Company Number 04826490</p>
				 <p class="my-4">Registered in England and Wales</p>
				 <a href="https://find-and-update.company-information.service.gov.uk/company/04826490" class="text-light">BCT Company Information >>></a><br><br>
				
					<button type="button" class="group relative rounded-lg border-2 border-gray-500 bg-red-800  hover:bg-red-900 hover:border-red-600 hover:shadow-2xl hover:rounded-none px-8 py-3 text-white text-2xl" title="Address">Registered Office
						<ul class="pointer-events-none absolute bottom-20 left-0 w-max opacity-0 transition-opacity group-hover:opacity-100 border-2 border-gray-300">
						   <li class="text-2xl bg-gray-500 p-4 border-b border-gray-600">4 Heath Square,</li> 
						   <li class="text-xl bg-gray-400 p-2">Boltro Road,</li> 
						   <li class="text-xl bg-gray-400 p-2">Haywards Heath,</li> 
						   <li class="text-xl bg-gray-400 p-2">West Sussex,,</li> 
						   <li class="text-xl bg-gray-400 p-2">West Sussex,</li> 
						   <li class="text-xl bg-gray-400 p-2">RH16 1B,</li> 
						   
					 </ul>
					   </button>
				 <br>
				 <br>
				 <button type="button" class="group relative rounded-lg border-2 border-gray-500 bg-red-800  hover:bg-red-900 hover:border-red-600 hover:shadow-2xl hover:rounded-none px-8 py-3 text-white text-2xl" title="Address">Correspondence Address
				 <ul class="pointer-events-none  absolute bottom-20 left-0  opacity-0 transition-opacity group-hover:opacity-100 border-2 border-gray-300 ">
					<li class="text-2xl bg-gray-500 p-4 border-b border-gray-600">Billingshurst Community Transport</li> 
					<li class="text-xl bg-gray-400 p-2">Billingshurst Community and Conference Centre</li> 
					<li class="text-xl bg-gray-400 p-2">Roman Way,</li> 
					<li class="text-xl bg-gray-400 p-2">Billingshurst,</li> 
					<li class="text-xl bg-gray-400 p-2">West Sussex,</li> 
					<li class="text-xl bg-gray-400 p-2">RH14 9QW,</li> 
					<li class="text-xl bg-gray-400 p-2">01403787696</li> 
			  </ul>
				</button>
				
			  </div>
		   </div>
		</div>
	 </div>
	 <div class="text-center text-gray-400 p-12 bg-gray-900" > 2003 <span class="text-red-800">copyright</span> 
		Billingshurst Community Transport Limited
	 </div>


	 